<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TaskMaster Lite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="stacked">Nueva tarea</ion-label>
    <ion-input [(ngModel)]="newTaskStr" placeholder="Escribe tu tarea"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addTask()">Agregar tarea</ion-button>

  <ion-list>
    @for(task of tasks; track task.id){
      <ion-item>
        <ion-label>{{task.titulo}}</ion-label>
      </ion-item>
    }
  </ion-list>

</ion-content>