<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      placeholder="Escribe una tarea"
      [(ngModel)]="task">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    (click)="addTask()">

    <ion-icon
      slot="start"
      name="add-outline">
    </ion-icon>

    Agregar
  </ion-button>

  <ion-list>

    @for(tarea of tasks; track tarea.id){

      <ion-item>
        <ion-label>
          {{ tarea.titulo }}
        </ion-label>
      </ion-item>

    }

  </ion-list>

</ion-content>